// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$thinblue: #E4F2FF;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;



//オリジナル関数
//コンテナすべてに覆いかぶさる関数
@mixin fullContainer() {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

//absoluteを用いて、中心に行く関数
@mixin positionCenter() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin positionRightTop() {
    position: absolute;
    top: -5px;
    right: -5px;
}

//display: flexを用いて、コンテナ内のコンテンツを中心へ寄せる関数
@mixin flexCenter() {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}